@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto:wght@300;400&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #343b63;
  height: 8vh;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
}

.nav__logo {
  display: flex;
  justify-content: left;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  color: white;
}

.nav__title {
  padding-left: 5px;
}

.nav__img {
  width: 45px;
  height: 45px;
}

.nav__icon {
  color: white;
  cursor: pointer;
}

/* All the following nav classes are for the hamburger menu */

.nav__menu {
  display: none;
}

.nav__link--mobile {
  display: block;
  color: #414141;
  padding: 10px 10px;
  text-decoration: none;
}

.nav__link--mobile:hover {
  background-color: #ebebeb;
  opacity: 100%;
}

.nav__checkbox {
  display: none;
}

/* I know that using the way below probably does not best correspond to BEM methodology, but 
I watched so many tutorials on how to implement a responsive hamburger button with CSS and this 
seemed to be the only way that I could get to work. I'd only ever used a framework to implement them
in the past so this was a fun challenge.
*/

.nav__checkbox:checked ~ .nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 8vh;
  width: 15em;
  right: 0%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #343b63;
  font-size: 16px;
  background-color: #f0f0f0;
  opacity: 90%;
  padding: 15px 15px;
  text-decoration: none;
  border-radius: 0 0 0 10px;
}

/* The rest of the mobile-first CSS is my main body */
.card {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  width: 100%;
  align-items: center;
  height: 46vh;
  font-family: 'Roboto', sans-serif;
  color: #32335b;
}

.card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.card__heading {
  width: 75%;
  font-size: 15px;
  margin-bottom: 0.8em;
}

.card__title {
  font-size: 25px;
}

.card--info {
  background-color: #f3cf6f;
  text-align: center;
}

.card__input {
  width: 100%;
  text-align: center;
}

.card__button {
  padding: 0.5em;
  margin: 0.8em;
  width: 85%;
  border-radius: 15px;
  color: #32335b;
  border: thin solid #32335b;
  font-weight: 500;
}

.card__button--login {
  background-color: #ffc300;
  border: none;
  color: white;
}

.card__button--input {
  background: #f0f0f0;
  border: none;
}

.card__link {
  margin-top: 0.5em;
  color: #32335b;
  font-size: 15px;
  font-weight: 400;
}

.card__checkbox {
  display: none;
}

.fontAwesome {
  font-family: 'Font Awesome 5 Free', 'Roboto', sans-serif;
  font-weight: 400;
}

@media (max-width: 375px) {
  .card {
    padding-top: 6%;
    height: 50vh;
  }
}

@media (max-width: 325px) {
  .card {
    padding-top: 6%;
    height: 55vh;
  }
}

@media (min-width: 1120px) {
  /* I'm not sure if using body for the background colour breaks a BEM rule, 
    but considering its not something that I would need to worry about for specificity in this sake, 
    I figured it would be okay */

  body {
    background-color: #343b63;
  }

  .nav {
    margin-top: 1.5vh;
    margin-left: 15vh;
    margin-right: 15vh;
    padding-left: 0;
    padding-right: 0;
  }

  .nav__icon {
    visibility: hidden;
  }

  /* I recognized the flaw here, as I know that if they shrink the page whilst checked, 
  the links disappear all together but I would typically use JS or something to fix this */

  .nav__checkbox:checked ~ .nav__menu {
    display: none;
  }
  .nav__checkbox:not(:checked) ~ .nav__menu {
    display: flex;
    max-height: initial;
    padding: 0;
    list-style: none;
    overflow: none;
    background-color: transparent;
    transition: none;
  }

  .nav__link {
    padding: 11px;
    display: flex;
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
    font-family: 'Roboto', sans-serif;
    border-right: none;
  }

  .nav__link--mobile:hover {
    background-color: initial;
  }

  .nav__button:hover {
    background-color: #ffc300;
  }

  .nav__button {
    display: flex;
    background-color: #ffc300;
    padding: 11px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
    font-family: 'Roboto', sans-serif;
  }

  .container {
    display: flex;
    margin: 15vh;
    margin-top: 5.5vh;
    height: 70vh;
    border: none;
    border-radius: 15%;
  }

  .card {
    padding-top: 0;
  }
  .card--login {
    justify-content: center;
    background-color: white;
    order: 2;
    height: 100%;
    width: 60%;
    border-radius: 0 15px 15px 0;
    padding: 11%;
  }

  .card--info {
    justify-content: center;
    height: 100%;
    width: 40%;
    padding: 6%;
    border-radius: 15px 0 0 15px;
  }

  .card__input--info {
    width: 78%;
  }

  .card__input--login {
    order: 2;
  }

  .card__title {
    font-size: 35px;
  }

  .card__link {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }

  .card__button--rich {
    background-color: #343b63;
    color: white;
  }

  .card__checkbox {
    display: inherit;
  }
}

@media (min-width: 1270px) {
  .nav__link {
    margin-left: 2.2em;
  }

  .nav__button {
    display: flex;
    background-color: #ffc300;
    padding: 11px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    margin-left: 2.2em;
    font-family: 'Roboto', sans-serif;
  }
}
