@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto:wght@300;400&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #2d2e56;
  height: 9vh;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
}

.nav__logo {
  display: flex;
  justify-content: left;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  color: white;
}
.nav__title {
  padding-left: 5px;
}

.nav__img {
  width: 45px;
  height: 45px;
}

.nav__icon {
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  width: 100%;
  align-items: center;
  height: 45vh;
  font-family: 'Roboto', sans-serif;
  color: #32335b;
}

.card__heading {
  width: 75%;
  font-size: 15px;
  margin-bottom: 0.8em;
}

.card--info {
  background-color: #f3cf6f;
  text-align: center;
}

.card__input {
  width: 85%;
  text-align: center;
}

.card__button {
  padding: 0.5em;
  margin: 0.5em;
  width: 100%;
  border-radius: 15px;
  color: #32335b;
  border: thin solid #32335b;
}
